<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @heroku_test_app.name %>
</p>

<%= link_to 'Edit', edit_heroku_test_app_path(@heroku_test_app) %> |
<%= link_to 'Back', heroku_test_apps_path %>
